<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- WeatherForecastApp local stylesheet -->
    <link rel="stylesheet" href="./stylesheets/css/main.css">

    <!-- FontAwesome local stylesheet -->
    <link rel="stylesheet" href="./stylesheets/vendor/font-awesome-4.5.0/css/font-awesome.css">

    <!-- Josh Bader's animated weather icons http://codepen.io/joshbader/pen/EjXgqr -->
    <link rel="stylesheet" href="./stylesheets/vendor/josh_bader_animated_weather_icons/css/animated_weather_icons.css">

    <!-- Bootstrap MaxCDN stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <title>Weather Forecast</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="content"></div>
      <div id="footer-wrapper">
        <footer id="footer" class="navbar navbar-default"></footer>
      </div>
    </div>

    <!-- jQuery, Bootstrap, Google Places API, d3, d3-tip !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBqdLAPb71C43fwP7wWqxzUzYaXynZ_LBA"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <!-- Bundled scripts from server -->
    <script src="/javascript/bundle.js"></script>
  </body>
</html>
