.copyright {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media only screen and (max-width: 750px) {
  .copyright {
    text-align: center;
  }

  .media-icons-list {
    text-align: center;
  }
}
