.forecast-index-item
{
  background-color: currentColor;
}

.index-item-grid-wrapper
{
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}

.weather-icon-wrapper
{
  background: currentColor;
  border-radius: 10%;
}

.weather-info-wrapper
{
  text-align: center;
}

@media only screen and (max-width: 750px)
{
  .index-item-grid-wrapper
  {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
