.search-bar
{
  margin-top: 8px;
  margin-bottom: 8px;

  .input-group
  {
    input
    {
      height: 33px;
    }
  }

  .input-group-btn
  {
    button
    {
      height: 33px;
    }
  }
}

/* remove 'powered by Google' logo from autocomplete list */
.pac-container:after
{
  background-image: none !important;
  height: 0px;
}

/* remove marker icons from autcomplete list items*/
.pac-icon
{
  background-image: none !important;
}
